html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: url(../Images/fundo.jpg) center no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

.header h1 {
    text-align: center;
    width: 100%;
    font-size: 192%;
    color: white;
}

.header h1:hover {
    color: black;
    transition: 1.5s;
}

.header .perguntas {
    width: 37.5%;
    height: 8rem;
    margin-top: 3rem;
    padding: 2.5rem;
    border: yellow .4rem solid;
    background: rgba(1, 14, 34, 1) url(../Images/fundo-da-perguntas.png);
}

.header .perguntas h1 {
    font-size: 3rem;
    color: white;
}

.header .perguntas h1:hover {
    transition: .8s;
    color: olivedrab;
}

.respostas {
    display: grid;
    grid-template-areas: "R1 R2" "R3 R4"
}

.respostas div {
    border: 2px solid chocolate;
    border-radius: .7rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.respostas div a {
    padding: 5rem;
    width: 100%;
    background: url(../Images/aço.jpg) no-repeat center;
    background-size: cover;
    font-size: 2rem;
}

.respostas div a:hover {
    box-shadow: 10px 5px 100px rgba( 0, 0, 0, 0.5);
    transition: .3s;
}

.respostas .resposta-1 {
    grid-area: R1;
}

.respostas .resposta-2 {
    grid-area: R2;
}

.respostas .resposta-3 {
    grid-area: R3;
}

.respostas .resposta-4 {
    grid-area: R4;
}